*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 90%;
    margin: auto;
}
.scontainer{
    max-width: 80%;
    margin: auto;
}

.flex1{
    display: flex;
    justify-content: space-between;
}

/* navbar */
.logo{
    cursor: pointer;
    width: 120px;
}
nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: white;
    padding: 30px 50px;
    font-size: 16px;
}
nav a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}
.menu a{
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.menu a::after{
    color: white;
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background: rgb(101, 101, 245);
    transform-origin: bottom right;

}

.menu a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.register {
    text-decoration: none;
}
.dropdown-menu{
    display: none;
    position: absolute;
    margin-top: 18px;

}
.border:hover .dropdown-menu{
    display: block;
}

.border:hover{
    background-color: rgb(197, 197, 197);
    border-radius: 50px;
    border: 2px solid rgb(197, 197, 197) ;
}

.border:hover .register{
    color:black;
}

.nav-links{
    display: flex;
    gap: 2rem;
}
.nav-link .drop-down { 
    list-style: none;
}
.text-dropdown a{
    text-decoration: none;
    color: black;
}
.text-dropdown{
    text-decoration: none;
    width: 70px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.border{
    border-radius: 50px;
    border: 2px solid black;
    background-color: white;
    padding: 12px;
    display: flex;
}
.register{
    color: black;
}
.icon-arrow{
    width: 15px;
    margin-left: 5px;
    margin-top: 3px;
}
.icon-arrow:hover{
    cursor: pointer;
}

/* banner */
.image-promo{
    width: 100%;
}

/* promotion text */
.promotion-text{
    height: 260px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0 8%;
}
.promotion-text h2{
    margin-top: 50px;
    font-size: 35px;
}
.promotion-text p{
    font-size: 20px;
    margin-top: 15px;
}

.card{ 
    margin-bottom: 35px;
    padding: 0 7%;
}
.tab_box{
    width: 100%;
    border-bottom: 2px solid rgba(229,229,229);
    position: relative;
   
}
.tab_box2{
    width: 100%;
    border-bottom: 2px solid rgba(229,229,229);
   
}
.tab_box .tab_btn{
    font-size: 20px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding: 15px;
    cursor: pointer;

}
.tab_box .tab_btn.active{
    color: darkblue;

}
.tab_button{
    font-size: 20px;
    font-weight: 600;
    color: darkblue;
    background: none;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.content_single{
    display: flex;
}

.desc{
    margin-left: 50px;
}
.content_box{
    padding: 20px;
}
.content{
    display: flex;
}

.content_box .content{
    animation: moving .5s ease;
}

.cars{
    width: 600px;
    height: 300px;
}
.content_box .content{
    display: none;
    animation: moving .5s ease;
}

.content_box .content.active{
    display: flex;
}

.content h2{
    margin-bottom: 20px;
    font-size: 30px;
}

.content_single h2{
    margin-bottom: 20px;
    font-size: 30px;
}
.line{
    position: absolute;
    top: 50px;
    left: 10px;
    width: 240px;
    height: 5px;
    background-color: darkblue;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.desc button{
    margin-top: 30px;
    padding: 10px 50px;
    background: rgb(96, 96, 96);
    border: rgb(96, 96, 96);
    border-radius: 6px;
    font-size: 18px;
    color: white;
    font-weight: 600;
}
.desc p{
    font-size: 18px;
}

.paragraph{
    margin-bottom: 10px;
}

/* footer */
.footer{
    margin-top: 30px;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    background-color: #f9f9f9;
}

.box-container{
    margin-left: 50px;
    margin-top: 25px;
}
a{
    text-decoration: none;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 6.2rem;   
}
.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #333;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{ 
    display: block;
    color: #666;
    font-size: 1rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: #333;
}

.footer .box-container .box img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 1rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:#9A9A9A;
}


@media (max-width: 1040px) {
    nav{
        padding: 30px 20px;
    }
    .menu{
        gap: 28px;
    }
    
    .promotion-text {
        padding: 10px;
        text-align: justify;
    }

    .promotion-text h2 {
        font-size: 28px;
    }

    .card {
        padding: 10px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .content_single {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .desc {
        margin-left: 0;
        margin-top: 20px;
    }

    .cars {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    nav{
        padding: 20px 30px;
        width: 100%;
    }
    nav .btn{
        display: block;
        color: black;
        font-size: 24px;
    }
    nav .menu{
        position: fixed;
        flex-direction: column;
        height: 100vh;
        top: 0;
        right: -100%;
        background: rgb(54, 54, 54);
        min-width: 80%;
        padding: 50px;
        transition: 0.5s;
        transition-property: right;
    }
    nav .menu.active{
        right: 0;
    }
    nav .menu .close-btn{
        position: absolute;
        margin: 25px;
        color: white;
        top: 0;
        left: 0;
    }
    nav .menu a{
        display: block;
        font-size: 20px;
        margin: 20px;
        color: white;
        padding: 0 15px;
    }
    .border{
        display: none;
    }
    .promotion-text{
        height: 300px;
    }
}

@media (max-width: 480px) {
    .promotion-text h2 {
        font-size: 24px;
    }
    .promotion-text{
        height: 350px;
    }
    .desc button {
        padding: 8px 16px;
    }
    
}


